* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  background-color: #F0F0F0;
  height: 100vh;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #00b585;
  font-weight: 900;
}

hr {
  border-top: 2px solid #00b585;
  margin: 1.5rem 0;
}

a {
  color: #00b585;
  font-weight: 900;
  text-decoration: none;
}

.navbar, footer {
  background-color: black;
}

.navbar-brand span {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 60px;
}

.info {
  padding: 5rem 3rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 20%);
  background-color: white;
}

div p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .navbar-brand span {
    font-size: 1.25rem;
  }

  .info {
    padding: 1rem;
  }
}