<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- App favicon  Version:20210919004-->
<link rel="shortcut icon" href="./images/favicon.ico">
<style>
a[id="gotoContent"] {
	position: absolute;
	overflow: visible;
	clip: rect(0, 0, 0, 0);
	border: 0;
	color: #000;
	float: left;
}

a[id="gotoContent"]:active, a[id="gotoContent"]:focus {
	position: static;
	width: auto;
	overflow: visible;
	clip: auto;
	margin: 5px;
	float: left;
}

.centralBtn {
	color: #000 !important;
	background-color: #FFF !important;
	border: none !important;
	font-size: 1.4rem !important;
	margin-bottom: 20px;
}

.centralBtn:focus {
	outline: 3px dashed #FFFDF0 !important;
	outline-offset: 4px !important;
	border: none !important;
	background-color: #FCFCFC !important;
}
</style>
<script>




	var pageNum = 1;
	var firstTimePage2 = true;
	var firstTimePage3 = true;
	paceOptions = {
		ajax : true,
		elements : true
	};
</script>
<title>COVID-19 公費疫苗預約平台</title>

<meta name="Accessible_website" content="本網站通過 A/AA/AAA 檢測等級無障礙網頁檢測">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="COVID-19 公費疫苗預約平台">
<meta name="keywords" content="COVID-19 公費疫苗預約平台">
<meta name="author" content="COVID-19 公費疫苗預約平台">
<link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="./assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="./assets/css/app.css" rel="stylesheet" type="text/css" />

<link href="./js/pace/pace-custom.css" media="all" rel="stylesheet"
	type="text/css" />
<script src="./js/jquery/jquery.min.js"></script>
</head>

<body>
	<noscript>您的瀏覽器似乎不支援 JavaScript 語法，但沒關係，這並不會影響到內容的陳述。
		如需要選擇適合您的字級大小，可利用鍵盤 Ctrl + (+)放大 (-)縮小。 如需要回到上一頁，可使用瀏覽器提供的 Alt +
		左方向鍵(←)。 如需要列印，可利用鍵盤 Ctrl + p 使用瀏覽器提供的列印功能。</noscript>
	<!-- Navigation Bar-->

	<header id="topnav">
		<!-- Topbar Start -->
		<div class="navbar-custom">
			<a href="javascript:void(0)"
				onclick="document.getElementById('Accesskey_C' + pageNum ).focus();window.scrollTo(0, 0);"
				id="gotoContent" title="跳到主要內容" tabindex="1" class="key"
				style="color: #f0f8ff;">跳到主要內容 </a>
			<div class="container-fluid">
				<!-- LOGO -->
				<div class="logo-box">
					<a href="" class="logo text-center"
						tabindex="1" title="COVID-19 公費疫苗預約平台Logo">
						<div class="d-none d-lg-inline-block mt-3">
							<img src="./images/logo-light.png" alt="LOGO" height="60"
								title="COVID-19 公費疫苗預約平台"> <span
								class="logo-lg-text-light" id="headerLogoWord">COVID-19 公費疫苗預約平台<br/>
							
							</span>
						</div>
						<div class="d-block d-lg-none mt-2">
							<img src="./images/logo-light.png" alt="LOGO" height="60"
								title="COVID-19 公費疫苗預約平台">
						</div>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- end Topbar -->
	</header>

	<!-- End Navigation Bar-->
	<!-- ============================================================== -->
	<!-- Start Page Content here -->
	<!-- ============================================================== -->
<div class="wrapper">

	<div class="content-page">
		<div class="container" id="indexDiv">
			<div class="pro-box">
				<h2 class="title-con style-line2 d-block d-sm-none"
					style="margin-bottom: 0;">
					<span>公費疫苗</span><br />

				</h2>
				<h1 class="title-con style-line2 d-none d-sm-block">
					<span >COVID-19 公費疫苗預約登記</span>
				</h1>
				<h1 class="title-con d-none d-sm-block">
					<span style="font-size: 0.8em;" >COVID-19 Vaccination Registration and Reservation</span>
				</h1>				
				<p class="title-sm text-danger" style="text-align:left">

				</p>
					
				<p class="title-sm text-danger" style="text-align:left">
					</p>
				<div class="d-flex justify-content-center row align-items-center">
					<div class="col-12 col-lg-6 card-item">
						<a href="javascript:void(0)" id="Accesskey_C1" accesskey="C"
							title="中間主要內容區，此區塊呈現網頁的網頁內容" tabindex="3" class="key dotted"
							style="float: left; color: #2F6FA7; font-size: 1.25em; margin-top: 5px; margin-right: 4px;">:::</a>
						<div class="card">
							<div class="card-header b-blue">
								<p class="card-title"><h1 class="display-5 font-weight-bolder">意願登記 Register</h1></p>
								<span style="color: #DB0000">可選擇或修改想施打的疫苗種類<br/></span>
								<span style="color: #DB0000">You can choose or modify your vaccine preference.<br/></span>
								<span style="color: #DB0000"><br/></span>
							</div>							
							<div class="card-body b-blue">
								<p class="text-white d-none d-sm-block">
									<span>
										&nbsp;<br>&nbsp;
									</span><br>		
								</p>	
								<button type="button" class="btn btn-lg text-dark centralBtn" 
									title="進入中文版" onclick="tryToVas();"
									code="1">
									<h2 class="display-6 font-weight-bolder"style="line-height: 10px">
										<br/>進入中文版
									</h2>
								</button>
								&nbsp;&nbsp;
								<button type="button" class="btn btn-lg text-dark centralBtn " 
									 title="Start(EN)" onclick="tryToVasEn();" >
									 <h2 class="display-5 font-weight-bolder"style="line-height: 10px">
										<br/>Start(EN)
									</h2>
								</button>									
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 card-item">
						<div class="card">
							<div class="card-header b-yellow" style="">
								<p class="card-title"><h1 class="display-5 font-weight-bolder">預約接種 Book Vaccination</h1></p>	
								<span style="color: #DB0000">已完成意願登記且符合預約資格者，可選擇疫苗施打地點及時段<br/></span>
								<span style="color: #DB0000"> If you have registered and are qualified for the appointment, you can choose the location and time of the vaccination.<br/></span>
							</div>
							<div class="card-body b-yellow">
								<p class="text-white d-none d-sm-block">
									<span>
										&nbsp;<br>&nbsp;
									</span><br>		
								</p>						
								<button type="button" class="btn btn-lg text-dark centralBtn"
									title="進入中文版" onclick="tryToVab();"
									code="1">
									<h2 class="display-6 font-weight-bolder" style="line-height: 10px">
										<br/>進入中文版
									</h2>
								</button>
								&nbsp;&nbsp;
								<button type="button" class="btn btn-lg text-dark centralBtn"
									 title="Start(EN)" onclick="tryToVabEn();" >
									 <h2 class="display-5 font-weight-bolder" style="line-height: 10px">
										<br/>Start(EN)
									</h2>
								</button>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--登入資訊 -->
		
		<!--系統檢查-->
		<div id="modalLoading" class="loader loader-default"
			data-text="環境設定檢測約需5-10秒，請稍待片刻...."></div>
	</div>
</div>

	<!-- ============================================================== -->
	<!-- End Page content -->
	<!-- ============================================================== -->
<footer class="footer">
	<a href="javascript:void(0)" id="Accesskey_Z" accesskey="Z"
	title="下方選單連結區，此區塊列有[使用說明]、[政府網站資料開放宣告]、[資訊安全政策]、[隱私權公告]等連結"
	class="key-text" style="color: #fff; font-size: 1.25em;">:::</a>
<div class="foot-btm">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12">
				<ul class="f-link">
					<li><a style="cursor: pointer;" href="javascript:void(0);"
						onclick="window.open('info4.html', '資訊安全政策', config='height=600,width=450,scrollbars=yes')"
						title="[另開新視窗]資訊安全政策"
						alt="資訊安全政策">資訊安全政策&nbsp;Information Security</a>
					</li>
					<li><a style="cursor: pointer;" href="javascript:void(0);"
						onclick="window.open('info5.html', '隱私權公告', config='height=600,width=450,scrollbars=yes')"
						title="[另開新視窗]隱私權公告"
						alt="隱私權公告">隱私權公告&nbsp;Policy Privacy notice</a>
					</li>				
				</ul>				
				 


				<div class="info pb-3">
					<p>Copyright © 2021 疫苗預約系統</p>
					<p>Copyright © 2021 COVID-19 Vaccination Registration and Appointment Reservation Platform</p>
					
				</div>


			</div>
		</div>
	</div>
</div>
</footer>
</body>
<script type="text/javascript">




	// async function fetchWithTimeout(resource, options = {}) {
	//   const { timeout = 8000 } = options;
	  
	//   const controller = new AbortController();
	//   const id = setTimeout(() => controller.abort(), timeout);

	//   const response = await fetch(resource, {
	// 	...options,
	// 	signal: controller.signal  
	//   });
	//   clearTimeout(id);

	//   return response;
	  
	// }
	





	function tryToVas() {
		var bodystr = "{\"id\":\"checkService.do\",\"certTp\":\"3\"}";
			$.ajax({
				url: './vas/checkService.do',
				method: 'POST',
				data: bodystr,
				dataType: "json",
				timeout: 30000,
				success: function(response) {
					if(response.code === 0){
						var vasUrl = "./vas?language=ch";
						window.location = vasUrl;
					}else{
					
						alert(response.message);
						
					}
				},
				error: function (thrownError) {

				}
			});
	};
	
	function tryToVab(){
	
		var bodystr = "{\"id\":\"checkService.do\",\"certTp\":\"3\"}";
		$.ajax({
				url: './vab/checkService.do',
				method: 'POST',
				data: bodystr,
				dataType: "json",
				timeout: 30000,
				success: function(response) {
					if(response.code === 0){
						var vabUrl = "./vab?language=ch";
						window.location = vabUrl;
					}else{					
						alert(response.message);
									
					}
				},
				error: function (thrownError) {
					
				}
			});
	}


	function tryToVasEn() {
		var bodystr = "{\"id\":\"checkService.do\",\"certTp\":\"3\"}";
			$.ajax({
				url: './vas/checkService.do',
				method: 'POST',
				data: bodystr,
				dataType: "json",
				timeout: 10000,
				success: function(response) {
					if(response.code === 0){
						var vasUrl = "./vas?language=en";
						window.location = vasUrl;
					}else{
					
						alert(response.message);
						
					}
				},
				error: function (thrownError) {
					
				}
			});
	};
	
	function tryToVabEn(){
	
		var bodystr = "{\"id\":\"checkService.do\",\"certTp\":\"3\"}";
		$.ajax({
				url: './vab/checkService.do',
				method: 'POST',
				data: bodystr,
				dataType: "json",
				timeout: 30000,
				success: function(response) {
					// TODO: 判斷結果並轉導
					if(response.code === 0){
						var vabUrl = "./vab?language=en";
						window.location = vabUrl;
					}else{					
						alert(response.message);				
					}
				},
				error: function (thrownError) {
					
				}
			});
	}



</script>
</html>